---
import Button from "@/components/app/Button.astro";
import Card from "@/components/app/Card.astro";
import Footer from "@/components/app/Footer.astro";
import { buttons } from "@/data/buttons";
import DocsLayout from "@/layouts/DocsLayout.astro";
import { capitalize } from "@/utils/capitalize";
import { db } from "astro:db";
import { Schemas } from "db/schemas";

const { tag } = Astro.params;

const componentsDB = await db
  .select()
  .from(Schemas[tag as keyof typeof Schemas]);
---

<DocsLayout title={capitalize(tag || "Components")}>
  <div class="grid grid-cols-1 gap-6">
    {
      componentsDB.map((component) => (
        <Card id={component.id} transition:name={`card-${component.id}`}>
          <Fragment set:html={component.tailwindCode} />
        </Card>
      ))
    }
  </div>

  <!-- <div class="mt-6 flex justify-center">
    <Button
      id="submit"
      data-tag={"buttons"}
      data-id={"button1"}
      data-tailwind-code={buttons.components[0][0]?.code}
      data-css-code={buttons.components[0][1]?.code}
      data-react-code={buttons.components[0][2]?.code}
    >
      Submit button1
    </Button>
  </div> -->

  {
    tag === "buttons" && (
      <Footer class="-mx-4">
        Buttons by
        <a
          href="https://buttons.ibelick.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline"
          slot="link"
        >
          ibelick
        </a>
      </Footer>
    )
  }
</DocsLayout>

<script>
  const submitBtn = document.querySelector("#submit") as HTMLElement;

  const { tag, id, tailwindCode, cssCode, reactCode } = submitBtn.dataset;

  submitBtn.onclick = () => {
    fetch(`/api/${tag}/${id}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ tailwindCode, cssCode, reactCode }),
    });
  };
</script>
