---
import Card from "@/components/app/Card.astro";
import CodeBlock from "@/components/app/CodeBlock";
import Footer from "@/components/app/Footer.astro";
import Check from "@/components/icons/check.astro";
import Copy from "@/components/icons/copy.astro";
import { BUTTONS } from "@/data/buttons";
import DocsLayout from "@/layouts/DocsLayout.astro";
import type { GetStaticPaths } from "astro";
import { Code } from "astro:components";

const { id } = Astro.params;

const BUTTON = BUTTONS.find((item, i) => (i + 1).toString() === id);

if (!BUTTON) return;

export const getStaticPaths = (() => {
  return BUTTONS.map((item, i) => ({
    params: { id: (i + 1).toString() },
  }));
}) satisfies GetStaticPaths;
---

<DocsLayout>
  <Card transition:name={`card-${id}`}>
    <Fragment set:html={BUTTON.codes[0].code} />
  </Card>
  {
    BUTTON.codes.map((item) => (
      <CodeBlock client:only="react" code={item.code} title={item.title}>
        <Code
          slot="codeComponent"
          class="rounded-md p-6"
          code={item.code}
          lang="astro"
        />
        <Copy slot="copyIcon" class="size-5" />
        <Check slot="checkIcon" class="size-5" />
      </CodeBlock>
    ))
  }

  <Footer>
    Button by
    <a
      href="https://buttons.ibelick.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline"
      slot="link"
    >
      ibelick
    </a>
  </Footer>
</DocsLayout>
